@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: "Roboto", sans-serif;
	line-height: 1.5;
	font-weight: 400;
}

body {
	background-image: url(https://live.staticflickr.com/4844/45573295934_555c082cb2_k.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
