@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: "Roboto", sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--color-text: #222;
	--color-bg: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-text: #ccc;
		--color-bg: #1a1a1a;
	}
}

body {
	/* color: var(--color-text);
	background-color: var(--color-bg); */

	background-image: url(https://live.staticflickr.com/4844/45573295934_555c082cb2_k.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	min-height: 100vh;
}

#app {
	max-width: 960px;
}

@media (min-width: 576px) {
	#app {
		/* padding: 0;
		margin: 0; */
		width: 100%;
	}
}
@media (min-width: 768px) {
	#app {
		width: 720px;
	}
}
